@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>This course covers the practical use of ASP.NET Core Web Applications using MVC.</p>

<h4>@ViewData["MoreInformation"]</h4>
